body{
  font-family: 'Ubuntu',sans-serif;
}
#title{
  background-color: #ff4c68;

}
h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
  line-height: 1.5;
}
h2{
  font-family: 'Montserrat-bold',sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  line-height: 1.5;
}
#cta h3{
  font-family: 'Montserrat-black', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  color: #fff;
  line-height: 1.5;
}
ul{
  margin-right: 0;
  margin-left: 65%;
}
div{
  padding:0;
}
p{
  font-family: 'Montserrat-bold',sans-serif;

  color: #8f8f8f;
}
.fab{
  padding-right:2%;
}
.btn{
  margin-top: 5%;
  margin-right: 3%;
}
.container-fluid{
  padding:3% 15%;
  padding-bottom: 7%;
}
/* Navigation bar  */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu',sans-serif;
  font-size: 2rem;

  font-weight: bold;
}

.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: lighter;
}
.title-img{
  width: 25%;
  transform: rotate(25deg);
  margin-left: 10%;
  position: absolute;

}
#features{
background-color: white;
  padding: 7% 15%;
  position: relative;

}
.features-para{
  color: #8f8f8f;
  font-weight: lighter;
}
.features-heading{
  font-size: 1.5rem;
  font-weight: bold;
}
.features-img{
  color: #ef8172;
  margin-bottom: 1rem;

}
.features-img:hover{
  color: #ff4c68;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;

}
.testimonial-img{
  margin: 20px;
  border-radius: 100%;
  width: 10%;
}
.carousel-item{
    padding:7% 15%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 7%;
}

.press-img{
  width: 15%;
  margin: 15px 20px;
}

.card .btn{
  width: 100%;
}

#pricing{
  padding: 7% 10%;
  text-align: center;
}

.card{
  margin: 7% 7%;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding:7% 15%;
}

#footer{
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
}

#footer svg{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%
}
@media (max-width:992px){
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
    margin-left: 0;
    margin-top: 25px;
    width: 50%;
  }
}
